body {
    background-color: #d0e4fe;
}

h1{
    box-shadow: 10px 100px 50px white;
    text-align: center;
    color:darkblue;
}
table{  max-width: 500px;
    border: 6px solid;
    margin-left: 430px;
}

a:link, a:visited {
    background-color: darkgreen;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: oblique;

}


a:hover, a:active {
    background-color: white;
}
tr{
    background-color: #86f4bb;

}
td{
    padding: 10px;
}

.also{
    text-align: left;
}

li {
    color: red;
}
