body {
    background-color: #d0e4fe;
}


table{
    max-width: 500px;
    border: 6px solid;
    margin-left: 430px;
}

a:link, a:visited {
    background-color: darkgreen;
    padding: 5px 5px;
    display: inline-block;
    font-style: oblique;

}

a:hover, a:active {
    background-color: white;
}


a{
    color:white;

}

.footer{
    text-align: left;
    margin-top: 21%;
    margin-left: 2%;
}

